@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    min-height: 100vh;
}

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

form input {
    background-color: rgba(128, 128, 128, .2);
}